:root {
	--color-bg-dark: #3a3a3a;
	--color-white: #cda274;
}

.notes__header input {
	padding: 0.7rem 1rem;
	background: transparent;
	border: 2px solid var(--color-bg-dark);
	border-radius: 0.6rem;
	color: var(--color-white);
	font-size: 1.1rem;
	width: 100%;
}

.notes__header input::placeholder {
	color: var(--color-white);
}

.notes__container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1.2rem;
}

.empty__notes {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}