:root {
	--color-bg-dark: #3a3a3a;
	--color-white: #cda274;
}

.note {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	padding: 1rem;

	color: var(--color-white);
	background: var(--color-bg-dark);

	cursor: pointer;
	transition: all 300ms ease;
}

.note:hover {
	opacity: 0.9;
}

.note:nth-child(3) {
	grid-column: 1/3;
}

.note:nth-child(4) {
	grid-row: 3/5;
}

.note:nth-child(7) {
	grid-column: 1/3;
}

.note p {
	font-size: 0.8rem;
	
	opacity: 0.85;
}