@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;

	border: 0;
	box-sizing: border-box;
	
	outline: 0;
	list-style: none;
	text-decoration: none;
}

:root {
	--color-bg-dark: #3a3a3a;
	--color-bg-black: #292f36;
	--color-bg-white: #fff;
	--color-white: #cda274;
	--color-primary: #7634d8;
	--color-danger: rgb(249, 84, 84);
}

body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.5;

	display: grid;
	place-items: center;

	color: var(--color-white);
	background: #ccc;
}

.btn {
	font-size: 1.6rem;

	padding: 0.9rem;
	padding-top: 0.7rem;
	padding-bottom: 0.3rem;

	color: var(--color-white);
	background: var(--color-bg-dark);
	border-radius: 0.8rem;
	box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);

	transition: all 300ms ease;
}

.btn.lg {
	font-size: 1.2rem;

	padding: 0.8rem 1.5rem;

	box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.4);
}

.btn.danger {
	background: var(--color-danger);
}

.btn.primary {
	background: var(--color-primary);
}

.btn:hover {
	box-shadow: none;

	cursor: pointer;
}

.app {
	font-family: 'Montserrat', sans-serif;

	position: relative;

	width: 24rem;
	height: 39rem;
	margin: 1rem 0;
	padding: 2rem 1.6rem;

	background: var(--color-bg-white);

	overflow-y: scroll;
	transition: background 0.3s ease;
}

.app-dark {
	background: var(--color-bg-black);
	transition: background 0.3s ease;
}

::-webkit-scrollbar {
	display: none;
}

h2,
h4 {
	font-weight: 500;
}

h2 {
	font-size: 2rem;
}

/* NOTES PAGE */
.notes__header {
	z-index: 9;

	display: flex;
	align-items: center;
	justify-content: space-between;

	padding-bottom: 2rem;

	background: var(--color-bg-white);

	transition: background 0.3s ease;
}

.notes__header-dark {
	background: var(--color-bg-black);

	transition: background 0.3s ease;
}

.btn.add__btn {
	position: fixed;

	bottom: 4rem;
	right: 7rem;
	padding: 1rem;
	padding-top: 0.8rem;
	padding-bottom: 0.4rem;
}

/* MEDIA QUERIES FOR PHONES */
@media screen and (max-width: 600px) {
	.app {
		width: 100vw;
		height: 100vh;
		padding: 2rem 1rem;
		margin: 0;
	}

	.notes__header {
		position: fixed;

		width: 100%;
		padding: 2rem 1rem;
		top: 0;
		left: 0;
	}

	.notes__container {
		margin-top: 5rem;

		gap: 1rem;
	}

	.btn.add__btn {
		font-size: 1.5rem;
		
		padding: 1.2rem;
		padding-top: 1rem;
		padding-bottom: 0.5rem;
		bottom: 6%;
		right: 2rem;
	}
}
